name: shuttle1

services:
  gitlab:
    image: gitlab/gitlab-ce:17.2.9-ce.0
    ports:
      - 192.168.243.3:22:22
    environment:
      GITLAB_OMNIBUS_CONFIG: |
        external_url 'https://gitlab.klinghed.se/'
        gitlab_rails['gitlab_shell_ssh_port'] = 22
        nginx['listen_port'] = 80
        nginx['listen_https'] = false
        nginx['proxy_set_headers'] = { "X-Forwarded-Proto" => "https", "X-Forwarded-Ssl" => "on" }
        gitlab_rails['smtp_enable'] = true
        gitlab_rails['smtp_address'] = 'smtp.gmail.com'
        gitlab_rails['smtp_port'] = 587
        gitlab_rails['smtp_user_name'] = 'ove.klinghed@gmail.com'
        gitlab_rails['smtp_password'] = 'egqh eqml anhs znxr'
        gitlab_rails['smtp_domain'] = 'smtp.gmail.com'
        gitlab_rails['smtp_authentication'] = 'login'
        gitlab_rails['smtp_enable_starttls_auto'] = true
        gitlab_rails['smtp_tls'] = false
        gitlab_rails['smtp_openssl_verify_mode'] = 'peer'   
      GITLAB_SKIP_UNMIGRATED_DATA_CHECK: false  
    volumes:
       - /data/dockerVolumes/gitlab/config:/etc/gitlab:Z
       - /data/dockerVolumes/gitlab/logs:/var/Log/gitlab:Z
       - /data/dockerVolumes/gitlab/data:/var/opt/gitlab:Z  

  nexus3:
    image: sonatype/nexus3:3.71.0-java17-ubi
    ports:
      - 8181:8081
      - 5000:5000
      - 5001:5001
      - 5002:5002
    volumes:
      - /data/dockerVolumes/nexus3/nexus-data:/nexus-data:Z
      - /data/dockerVolumes/nexus3/backup:/backup:Z
    depends_on:
      - gitlab  

  bind:
    image: sameersbn/bind:latest
    ports:
      - 192.168.243.3:53:53/udp
      - 192.168.243.3:53:53/tcp
      - 10000:10000
    environment:
       ROOT_PASSWORD: qwe123  
    volumes:
      - /data/dockerVolumes/bind:/data:Z

  ddclient:
    image: ovekli/ddclient:1.0.1
    volumes:
      - /data/dockerVolumes/ddclient/.ssh/:/root/.ssh_keys:Z        

  nginx-proxy:
    image: ovekli/nginx
    ports:
      - 192.168.243.3:443:443
    volumes:
      - /data/dockerVolumes/nginx-proxy-config/conf.d:/etc/nginx/conf.d:Z
      - /data/dockerVolumes/nginx-proxy-ssl/ssl:/etc/nginx/ssl:Z
    depends_on:
      - gitlab
      - nexus3
      - bind

networks:
  shuttle_network:
